<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Phone Number Display</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      min-height: 100vh;
    }

    .section {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 45%;
    }

    h2 {
      text-align: center;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      margin-bottom: 8px;
    }

    .btn {
      background-color: #4caf50;
      color: #fff;
      padding: 10px 15px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    .edit-btn {
      background-color: #4caf50;
    }

    .delete-btn {
      background-color: #e74c3c;
    }

  </style>
</head>
<body>
  <div class="section" id="oddSection">
    <h2>Odd Numbers</h2>
    <ul id="oddList"></ul>
  </div>

  <div class="section" id="evenSection">
    <h2>Even Numbers</h2>
    <ul id="evenList"></ul>
  </div>

  <audio src="/sounds/notif2.wav" autostart="0" id="notifSound"></audio>

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>

    jQuery(document).ready(function() {
      // first load
      jQuery.ajax({
        url: '/api/phones',
        method: 'GET',
        success: function(response) {
          console.log(response);
          categorizeAndDisplay(response.data);
        },
        error: function(error) {
          console.error(error);
        }
      });

      function categorizeAndDisplay(phoneNumbers) {
          var oddList = $('#oddList');
          var evenList = $('#evenList');

          phoneNumbers.forEach(function(phoneNumber) {
            var number = phoneNumber.number;
            var id = phoneNumber.id;

            // add id to list item
            var listItem = $('<li id="' + id + '"> <p>'+ number + '</p> <button class="btn edit-btn">Edit</button> <button class="btn delete-btn">Delete</button></li>');

          if (isOdd(number)) {
            oddList.append(listItem);
          } else {
            evenList.append(listItem);
          }
        });
      }

      function isOdd(number) {
        return number % 2 !== 0;
      }

      // edit phone number change text to input
      $(document).on('click', '.edit-btn', function() {
        var id = $(this).parent().attr('id');
        // redirect to edit page on new tab
        window.open('/edit/' + id, '_blank');
        // get data with ajax
        // $.ajax({
        //   url: '/api/phones/' + id,
        //   method: 'GET',
        //   success: function(response) {
        //     console.log(response);
        //     var phoneNumber = response.data.number;
        //     var provider = response.data.provider;
        //     var listItem = $('#' + id);
        //     listItem.find('p').remove();
        //     listItem.find('.edit-btn').remove();
        //     listItem.find('.delete-btn').remove();
        //     listItem.append('<input type="text" class="edit-input" value="' + phoneNumber + '">');
        //     listItem.append('<select class="edit-provider"> <option value="xl" ' + (provider === 'xl' ? 'selected' : '') + '>XL</option> <option value="tri" ' + (provider === 'tri' ? 'selected' : '') + '>TRI</option> <option value="telkomsel" ' + (provider === 'telkomsel' ? 'selected' : '') + '>Telkomsel</option> <option value="indosat" ' + (provider === 'indosat' ? 'selected' : '') + '>Indosat</option> </select>');
        //     listItem.append('<button class="btn save-btn">Save</button>');
        //     listItem.append('<button class="btn cancel-btn">Cancel</button>');
        //   },
        //   error: function(error) {
        //     console.error(error);
        //     alert('Error getting phone number');
        //   }
        // });
      });

      // delete phone number
      $(document).on('click', '.delete-btn', function() {
        var id = $(this).parent().attr('id');
        console.log(id);
        $.ajax({
          url: '/api/phones/' + id,
          method: 'DELETE',
          success: function(response) {
            console.log(response);
            alert('Phone number deleted successfully');
            // remove list item
            // $('#' + id).remove();
          },
          error: function(error) {
            console.error(error);
            alert('Error deleting phone number');
          }
        });
      });

      // websocket

      const messagesContainer = document.getElementById('messages');
    const socket = new WebSocket('ws://172.24.101.226:8082/api/phones/ws');
    var oddList = $('#oddList');
    var evenList = $('#evenList');
    // Connection opened
    socket.addEventListener('open', (event) => {
      console.log('WebSocket connection opened:', event);

      socket.send('Hello, server!');
    });

    function playSound() {
      var notifSound = document.getElementById('notifSound');
      notifSound.play();
    }

    socket.addEventListener('message', (event) => {
      const receivedMessage = event.data;
      console.log('Message from server:', receivedMessage);
      var message = JSON.parse(receivedMessage);
      switch (message.type) {
        case 'CREATE':
          categorizeAndDisplay(message.data);
          break;
        case 'UPDATE':
          $('#' + message.data.id).find('p').text(message.data.number);
          console.log("UPDATED IITEM");
          break;
        case 'DELETE':
          $('#' + message.data.id).remove();
          console.log("DELETED ITEM");
          break;
        default:
          break;
      }
      
      playSound();
    });

    socket.addEventListener('close', (event) => {
      console.log('WebSocket connection closed:', event);
    });

    socket.addEventListener('error', (event) => {
      console.error('WebSocket connection error:', event);
    });
    })
  </script>
</body>
</html>
